<%- include('partials/header') -%>

<div class="container h-auto p-2 sm:p-6">
  <div class="card-form card shadow-xl">

    <!-- DROPDOWN MENU FOR LOGGED IN USER PROFILE -->
    <% if(user.id === loggedInUser.id) { %><div class="navbar bg-base-100">
      <div class="flex-none z-10">
        <ul class="menu menu-horizontal p-0">
          <li tabindex="0">
            <a class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
              </svg>
            </a>
            <ul class="p-2 bg-base-100">
<!--DELETE ACCOUNT OPTION  -->
              <li>
                <form action="/post/deleteAccount/?_method=DELETE" method="POST" class="col-3">
                  <label for="my-modalaccount-delete" class="m-2 text-sky-800 cursor-pointer">Delete Account</label>
                </form>
              </li>
<!-- EDIT BIOGRAPHY OPTION -->
              <% if (user.bio != undefined) { %>
              <li><label for="my-modalbio-edit" class=" text-sky-800 cursor-pointer"><i class="far fa-edit"></i>Edit Bio</label></li>
<!-- DELETE BIOGRAPHY OPTION -->
              <li>
                <form action="/post/deleteBio/?_method=DELETE" method="POST" class="col-3 text-sky-800">
                  <label class=" text-sky-800 fa fa-trash" type="submit"></label>Remove Bio
                </form>
              </li>
              <% } %>          
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <% } %>


    <div class="row mt-5 justify-content-center">
      <div class=" row grid grid-cols-1 md:grid-cols-2 gap-2 ">
        <div class="justify-content-center justify-self-center ">
          <!-- PROFILE PICTURE : IF SET-->
          <% if(user.profileImg != undefined || user.profileImg != null) { %>
          <div class=" w-48 sm:w-64 text-center inset-x-1/2 m-auto">
            <div class="mb-2 w-48 sm:w-64">
              <img class="w-48 h-48 sm:w-64 sm:h-64 rounded-full absolute" src="<%= user.profileImg%>" alt="" />
              <% if(user.id === loggedInUser.id) { %>
              <div class="w-48 h-48 sm:w-64 sm:h-64 group hover:bg-gray-200 opacity-60 rounded-full flex justify-center items-center cursor-pointer transition duration-500">
                <form action="/post/deleteProfileImg/?_method=DELETE" method="POST" class="col-3">
                  <button class="m-2 text-sky-700 cursor-pointer" type="submit"><img class="hidden group-hover:block w-12" src="https://www.pngrepo.com/png/133608/512/os-x.png" /></button>
                </form>
              </div>
              <% } %>
              <!-- To do: Add feature - If viewing another user's profile, ability to view profile imag in modal -->
              <% if(user.id != loggedInUser.id) { %>
              <div class="invisible w-48 h-48 sm:w-64 sm:h-64 group hover:bg-gray-200 opacity-60 rounded-full flex justify-center items-center cursor-pointer transition duration-500">
                <form action="" method="POST" class="col-3">
                  <button class="m-2 text-sky-700 cursor-pointer" type="submit"><img class="hidden group-hover:block w-12" src="https://www.pngrepo.com/png/133608/512/os-x.png" /></button>
                </form>
              </div>
              <% } %>
            </div>
          </div>
          <% } %>
          <!-- PROFILE PICTURE: IF NONE SET -->
          <% if(user.profileImg === undefined || user.profileImg === null) { %>
          <div class="w-48 sm:w-64 text-center inset-x-1/2 m-auto">
            <div class="m-2 w-48 sm:w-64">
              <img class="w-48 h-48 sm:w-64 sm:h-64 rounded-full absolute" src="/imgs/avatar.jpg" alt="" />
              <% if(user.id === loggedInUser.id) { %>
              <div class="w-48 h-48 sm:w-64 sm:h-64 group hover:bg-gray-200 opacity-60 rounded-full flex justify-center items-center cursor-pointer transition duration-500">
                <label for="my-modalProfileImg" class="m-2 text-sky-700 cursor-pointer">
                  <img class="hidden group-hover:block w-12" src="https://www.svgrepo.com/show/33565/upload.svg" />
                </label>
              </div>
              <% } %>
              <!-- To do: Add feature - If viewing another user's profile, ability to view profile image in modal -->
              <% if(user.id != loggedInUser.id) { %>
              <div class="invisible w-48 h-48 sm:w-64 sm:h-64 group hover:bg-gray-200 opacity-60 rounded-full flex justify-center items-center cursor-pointer transition duration-500">
                <form action="" method="POST" class="col-3">
                  <button class="m-2 text-sky-700 cursor-pointer" type="submit"><img class="hidden group-hover:block w-12" src="https://www.pngrepo.com/png/133608/512/os-x.png" /></button>
                </form>
              </div>

              <% } %>
            </div>
          </div>
          <% } %>
          <div class="text-center place-self-center m-2">
            <p class="text-lg font-medium mb-2"><%= user.userName %></p>
            <p><span class="font-medium">Contact: </span><%=user.email %></p>
            <p><span class="font-medium">Member since</span>: <%= user.userCreatedAt.toDateString() %></p>
          </div>

        </div>

        <div class="row justify-content-center place-self-center">
          <% if (user.bio != undefined) { %> <span>
            <blockquote class="m-0">
              <p class="bg-slate-100 p-3 sm:p-16 rounded italic tracking-wide">About me: <%= user.bio %></p>
            </blockquote>
          </span>
          <% } %>
          <a class="btn btn-outline btn-accent m-2" href="/feed">Return to Feed</a>
          <!-- IF LOGGED IN USER'S PROFILE DISPLAY THESE OPTIONS -->
          <% if(user.id === loggedInUser.id) { %>
          <label for="my-modal" class="btn btn-outline m-2">Create a new post</label>
          <% if (user.bio === undefined || user.bio === null) { %>
          <label for="my-modalbio" class="btn btn-outline m-2 ">Write a bio</label> <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SHOW PROFILE ARTWORK/COLLECTIONS -->
<div class="row card card-form ">
  <div class="col-12">
    <h1 class="text-lg font-bold mb-2">Portfolio: <%= posts.length %></h1>

    <ul class="row list-unstyled grid grid-cols-1 sm:grid-cols-2 gap-2">
      <% for(var i=0; i<posts.length; i++) {%>
      <li class="border rounded-md stretch justify-content-between ">
        <a href="/post/<%= posts[i]._id%>">
          <h2 class="font-medium mt-5 mb-3"><%= posts[i].title %></h2>
        </a>
        <a class="" href="/post/<%= posts[i]._id%>">
          <img class="img-fluid  hover:grayscale hover:scale-105" src="<%= posts[i].image%>">
        </a>
        <!-- Cutting description into segment -->
        <% if(posts[i].caption.length >= 350) {%>
        <p class="mt-2"><%= posts[i].caption.slice(0,350)%><a href="/post/<%= posts[i]._id%>"><span class="text-sky-700">...read more</span></a></p>
        <%} else { %>
        <p><%=posts[i].caption%></p>
        <% } %>
        <p class="text-slate-500 text-sm mt-2 mb-2"><%= posts[i].createdAt.toDateString() %></p>
      </li>
      <% } %>
    </ul>
  </div>
</div>




<!-- MODAL FOR CREATING A NEW POST -->
<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="mt-5">
      <h2 class="text-lg font-medium mb-2">Create a new post</h2>
      <form action="/post/createPost" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
          <label for="caption" class="form-label">Caption</label>
          <textarea class="form-control" id="caption" name="caption"></textarea>
        </div>
        <div class="mb-3">
          <label for="imgUpload" class="form-label">Image (JPG and PNG files supported)</label>
          <input type="file" class="form-control" id="imageUpload" name="file">
        </div>
        <button type="submit" class="btn btn-outline btn-accent" value="Upload">Submit</button>
      </form>
    </div>
    <div class="modal-action">
      <label for="my-modal" class="btn">Go back</label>
    </div>
  </div>
</div>

<!-- MODAL FOR CREATING A PROFILE PICTURE -->
<input type="checkbox" id="my-modalProfileImg" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="mt-5">
      <h2>Add an image to your profile</h2>
      <form action="/post/createProfileImg" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
          <label for="imgUpload" class="form-label">Image</label>
          <input type="file" class="form-control" id="imageUpload" name="file">
        </div>
        <button type="submit" class="btn btn-outline btn-accent" value="Upload">Submit</button>
      </form>
    </div>
    <div class="modal-action">
      <label for="my-modalProfileImg" class="btn">Go back</label>
    </div>
  </div>
</div>


<!-- MODAL FOR CREATING BIO -->
<input type="checkbox" id="my-modalbio" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="mt-5">
      <h3 class="font-bold text-lg">Add a short biography about yourself to your profile to help others get to know you.</h3>
      <p class="py-4"> Tell us about your background, achievements, personal objectives and/or inspirations behind your work.</p>
      <form action="/post/createBio" method="POST">
        <div class="mb-3">
          <label for="bio" class="form-label">Bio</label>
          <textarea class="form-control" id="bio" name="bio"></textarea>
        </div>
        <button type="submit" class="btn btn-outline btn-accent">Submit</button>
      </form>
    </div>
    <div class="modal-action">
      <label for="my-modalbio" class="btn">Go back</label>
    </div>
  </div>
</div>

<!-- MODAL FOR EDITING BIO -->
<input type="checkbox" id="my-modalbio-edit" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="mt-5">
      <h3 class="font-bold text-lg">Make changes to your biography below.</h3>
      <p class="py-4"> Tell us about your background, achievements, personal objectives and/or inspirations behind your work.</p>
      <form action="/post/editBio/?_method=PUT" method="POST">
        <div class="mb-3">
          <label for="bio" class="form-label">Bio</label>
          <textarea maxlength="1000" class="form-control textarea-primary" id="bio" name="bio"><%=user.bio %></textarea>
        </div>
        <button type="submit" class="btn btn-outline btn-accent">Submit Changes</button>
      </form>
    </div>
    <div class="modal-action">
      <label for="my-modalbio-edit" class="btn">Go back</label>
    </div>
  </div>
</div>

<!-- CONFIRMATION TO DELETE USER ACCOUNT -->
<input type="checkbox" id="my-modalaccount-delete" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="mt-5">
      <h3 class="font-bold text-lg">Are you sure that you want to delete your account?</h3>
      <p class="py-4">Your profile and all your posts will be deleted permanently.</p>
      <form action="/post/deleteAccount/?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-outline btn-accent">Yes, delete my account.</button>
      </form>
    </div>
    <div class="modal-action">
      <label for="my-modalaccount-delete" class="btn">Cancel</label>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>